header
    block title
        nav.top-nav.blue.lighten-4: div.container: div.nav-wrapper: a.page-title=title
    block container
        div.container: a.button-collapse.top-nav.full.hide-on-large-only(href='#' data-activates='nav-mobile'): i.mdi-navigation-menu
    include defaultSideBar