extends defaultHeader

block title

block container
    div.container: a.button-collapse.top-nav.waves-effect.waves-light.circle.hide-on-large-only(href='#' data-activates='nav-mobile'): i.mdi-navigation-menu